flows/Relational_Annual_NPS_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Customer_NPS_Survey_to_all_Contacts</name>
        <label>Send Customer NPS Survey to all Contacts</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>Contact.Send_Customer_NPS_Survey_to_all_Contacts</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>contacts_to_send_survey</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Send_Customer_NPS_Survey_to_all_Contacts</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Contacts_to_update</name>
        <label>Contacts to update</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>ContactsforUpdateandCreateAction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>traversing_every_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>traversing_every_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_last_survey_sent_date</name>
        <label>update last survey sent date</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>traversing_every_contact.Last_Survey_Sent_date_for_Relational_NPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_to_update</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>OwnerIdforTask</name>
        <dataType>String</dataType>
        <expression>if(left({!$Record.OwnerId},3)=&apos;00G&apos;, {!$User.Id}, {!$Record.OwnerId})</expression>
    </formulas>
    <interviewLabel>Relational Annual NPS Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relational Annual NPS Survey</label>
    <loops>
        <name>traversing_every_contact</name>
        <label>traversing every contact</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>contacts_to_send_survey</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_last_survey_sent_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_Survey_Sent_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>contacts_to_send_survey</name>
        <label>contacts to send survey</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>traversing_every_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dummy_for_test__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AfterSales_Main_Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Annual_Relational_NPS_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Survey_Sent_Date</name>
        <label>Update Contact Survey Sent Date</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <inputReference>ContactsforUpdateandCreateAction</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Customer_NPS_Survey_to_all_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dummy_for_test__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AfterSales_Main_Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Annual_Relational_NPS_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-09</startDate>
            <startTime>10:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactsforUpdateandCreateAction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ListContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TaskforContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Send NPS Survey to Customer</stringValue>
        </value>
    </variables>
</Flow>
