flows/Relational_NPS_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Customer_NPS_Survey_to_all_Contacts_Reminder</name>
        <label>Send Customer NPS Survey to all Contacts Reminder</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>Contact.Send_Customer_NPS_Survey_to_all_Contacts_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Send_Customer_NPS_Survey_to_all_Contacts_Reminder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Customer_NPS_Survey_to_all_Contacts_Reminder_Copy1</name>
        <label>Send Customer NPS Survey to all Contacts Reminder Copy1</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <actionName>Contact.Send_Customer_NPS_Survey_to_all_Contacts_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Send_Customer_NPS_Survey_to_all_Contacts_Reminder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Copy_1_of_Is_Survey_Filled</name>
        <label>Copy 1 of Is Survey Filled</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Contact_has_not_filled_the_survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Takens</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Customer_NPS_Survey_to_all_Contacts_Reminder_Copy1</targetReference>
            </connector>
            <label>Copy 1 of If Contact has not filled the survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Survey_Filled</name>
        <label>Is Survey Filled</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Contact_has_not_filled_the_survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Takens</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Customer_NPS_Survey_to_all_Contacts_Reminder</targetReference>
            </connector>
            <label>If Contact has not filled the survey</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Relational NPS Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relational NPS Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Survey_Takens</name>
        <label>Copy 1 of Survey Takens</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Is_Survey_Filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>in_gage__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>in_gage__Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a375r000000NTR3AAO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>in_gage__SurveyTaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Survey_Takens</name>
        <label>Survey Takens</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Survey_Filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>in_gage__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>in_gage__Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a375r000000NTR3AAO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>in_gage__SurveyTaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Relational_NPS_Survey_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>First_Reminder</name>
            <connector>
                <targetReference>Survey_Takens</targetReference>
            </connector>
            <label>First Reminder</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Last_Survey_Sent_date_for_Relational_NPS__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Second_Reminder</name>
            <connector>
                <targetReference>Copy_1_of_Survey_Takens</targetReference>
            </connector>
            <label>Second Reminder</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Last_Survey_Sent_date_for_Relational_NPS__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>lalalala</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>in_gage__SurveyTaker__c</objectType>
    </variables>
</Flow>
