flows/Transactional_NPS_for_commissioning_cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Transactional_NPS_for_commissioning_cases_after_6_months</name>
        <label>Transactional NPS for commissioning cases after 6 months</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <actionName>Case.Transactional_NPS_for_commissioning_cases_after_6_months</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>update_last_survey_sent_date_for_commissioning</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Transactional_NPS_for_commissioning_cases_after_6_months</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>currentdate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Transactional NPS for commissioning cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transactional NPS for commissioning cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_last_survey_sent_date_for_commissioning</name>
        <label>update last survey sent date for commissioning</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>Last_Survey_Sent_date_for_commshng_cases__c</field>
            <value>
                <elementReference>currentdate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transactional_NPS_for_commissioning_cases_after_6_months</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Survey_Sent_date_for_commshng_cases__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X6_months_since_status_changed_to_submit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-04</startDate>
            <startTime>09:06:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
