flows/Transactional_NPS_for_commissioning_cases_reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Transactional_NPS_for_commissioning_cases_after_6_months_reminder</name>
        <label>Transactional NPS for commissioning cases after 6 months reminder</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <actionName>Case.Transactional_NPS_for_commissioning_cases_after_6_months_reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Transactional_NPS_for_commissioning_cases_after_6_months_reminder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Survey_Filled</name>
        <label>Is Survey Filled</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Contact_has_not_filled_the_survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Takens</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transactional_NPS_for_commissioning_cases_after_6_months_reminder</targetReference>
            </connector>
            <label>If Contact has not filled the survey</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transactional NPS for commissioning cases reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transactional NPS for commissioning cases reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Survey_Takens</name>
        <label>Survey Takens</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Survey_Filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>in_gage__Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>in_gage__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>in_gage__Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a375r000000NThOAAW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>in_gage__SurveyTaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Survey_Takens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>is_commissioning_reminder_date_today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Sent_date_for_commissioning_cases__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-04</startDate>
            <startTime>09:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
